---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---

<header class="header u-cf">
  <h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
  {% include "components/nav.njk" %}
</header>

<h1 class="tagged-heading">Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<nav>
  <a class="button button-icon-left" href="{{ '/research/' | url }}"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M20-4H-4v24h24z"/><path class="arrowIcon" fill="#009B64" fill-rule="nonzero" d="M8 0l1.41 1.41L3.83 7H16v2H3.83l5.58 5.59L8 16 0 8z"/></g></svg> All articles</a>
</nav>