html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

html[data-current="home"] h1 {
	font-size: 6rem;
}

html[data-current="home"] h2 {
	font-size: 3.6rem;
	margin-bottom: 4rem;
}

.button svg {
	vertical-align: -2px;
	margin-left: 5px;
}

.button:hover .arrowRight {
	fill: #FFF;
}

h1 {
	font-family: "SuisseIntl-Medium";
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

.nav {
	float: right;
}

.header .logo, .header .nav ul {
	margin-bottom: 0;
} 

.nav li {
	display: inline;
}

.nav li a {
	display: inline-block;
	text-decoration: none;
}

.nav li:not(:last-child) a {
	margin-right: 30px;
}

.nav li a[data-current="current item"] {
	color: #000;
}

.logo {
	float: left;
	font-size: 1.5em;
}

.logo a {
	text-decoration: none;
}

.header {
	border-bottom: 1px solid #009B64;
	padding: 30px 0;
	width: 100%;
	margin-bottom: 50px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.articles {

}

.articles article {
	margin-bottom: 50px;
}

.articles h3 {

}

.articles h3 a {
	text-decoration: none;
}

.articles h3 a svg {
	vertical-align: -3px;
    margin-left: 10px;
}

.footer {
	margin-top: 100px;
	border-top: 1px solid #009B64;
	padding: 30px 0;
}

.footer p {
	margin: 0;
}

.footer a {
	text-decoration: none;
}

.burger {
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.header .nav {
		position: fixed;
	    background-color: #009B64;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    font-size: 2.4rem;
	    line-height: 5.6rem;
	    padding: 60px 30px;
	    display: none;
	}

	.header .nav li a {
		display: block;
		color: #FFF;
	}
}