.nav {
	float: right;
}

.nav li {
	display: inline;
}

.nav li a {
	display: inline-block;
}

.nav li:not(:last-child) a {
	margin-right: 30px;
}

.logo {
	float: left;
}

.header {
	border-bottom: 1px solid #001E62;
	padding: 20px 0;
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}