.nav {
	float: right;
}

.nav li {
	display: inline;
}

.nav li a {
	display: inline-block;
}

.nav li:not(:last-child) a {
	margin-right: 30px;
}

.logo {
	float: left;
}

.header {
	border-bottom: 1px solid #000;
	padding: 20px 0;
}