<div class="container">
	<footer class="footer">
		{% include "components/nav.njk" %}
		<p>&copy; 2020 Robin Capital</p>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>