<header class="header u-cf">
	<div class="close">
		<svg width="20" height="19" xmlns="http://www.w3.org/2000/svg"><g fill="#009B64" fill-rule="evenodd"><path d="M2.575-.046l16.97 16.97-2.12 2.122L.455 2.076z"/><path d="M17.425-.046L.455 16.924l2.12 2.122 16.97-16.97z"/></g></svg>
	</div>
	<h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
	{% include "components/nav.njk" %}
	<div class="burger">
		<svg width="24" height="17" xmlns="http://www.w3.org/2000/svg"><g fill="#009B64" fill-rule="evenodd"><path d="M0 0h24v3H0zM0 7h24v3H0zM0 14h24v3H0z"/></g></svg>
	</div>
</header>