<section class="articles">
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<p>
				<time datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }} by {{ metadata.author.name }}
				</time>
			</p>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }} <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M-8-8h48v48H-8z"/><path fill="#009B64" fill-rule="nonzero" d="M16 0l-2.82 2.82L24.34 14H0v4h24.34L13.18 29.18 16 32l16-16z"/></g></svg>
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
		</article>
	{% endfor %}
</section>
