---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<header class="header u-cf">
	<div class="burger">
	<svg width="24" height="17" xmlns="http://www.w3.org/2000/svg"><g fill="#009B64" fill-rule="evenodd"><path d="M0 0h24v3H0zM0 7h24v3H0zM0 14h24v3H0z"/></g></svg>
	</div>
	<h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
	{% include "components/nav.njk" %}
</header>

<div class="row">
	<div class="nine columns">
	<h1>{{ title }}</h1>

	{{ layoutContent | safe }}

	{% set postslist = collections.post %}
	{% include "components/postslist.njk" %}
	</div>
	<div class="three columns">
		<h3>Categories</h3>
		<ul>
		{% for tag in collections.tagList %}
		<li>
		  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
		</li>
		{% endfor %}
		<ul>
	</div>
</div>