---
layout: layouts/base.njk
section: contact
---

<header class="header u-cf">
	<h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
	{% include "components/nav.njk" %}
</header>
		
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% include "components/form.njk" %}
