---
layout: layouts/base.njk
section: contact
---

{% include "components/header.njk" %}
		
<!-- <h1>{{ title }}</h1> -->

<div class="row">
	<div class="eight columns">
		{{ layoutContent | safe }}

		{% include "components/form.njk" %}
	</div>
</div>