---
layout: layouts/base.njk
section: contact
---

<header class="header u-cf">
	<h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
	{% include "components/nav.njk" %}
</header>
		
<!-- <h1>{{ title }}</h1> -->

<div class="row">
	<div class="eight columns">
		{{ layoutContent | safe }}

		{% include "components/form.njk" %}
	</div>
</div>